/* Reset padding & margin of the page */
* {
	padding: 0 0;
	margin: 0 0;
}

html {
	font-family: 'roboto', sans-serif;
	font-size: 16px;
}

body {
	text-align: center;
	padding: 14rem 0;
	color: rgb(52, 52, 52);
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
}

span {
	font-style: italic;
	font-size: 1.25rem;
}

.social-media {
	margin: 1rem auto;
	padding-bottom: 4rem;
}

.media-icon {
	font-size: 2rem;
	color: rgb(52, 52, 52);
}

.media-icon:hover {
	color: rgba(52, 52, 52, .8);
}